name: deployToCassiniManual

on:
    workflow_dispatch:

env: 
    HOST: cassini.cs.kent.edu
    USER: ants
    TARGET: ants@cassini.cs.kent.edu
    RUN: ssh -o LogLevel=ERROR ants@cassini.cs.kent.edu 
    COPY: scp -o LogLevel=ERROR
    LOGGING: set -o xtrace

jobs:
  cassini_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files...
        uses: actions/checkout@v2
      - name: Get ssh key...
        uses: shimataro/ssh-key-action@v2 
        with:
          key: ${{ secrets.ID_ED25519 }}
          name: id_ed25519
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Zip & copy files to cassini
        run:
          $LOGGING

          echo "Remote files" ;
          ls -la 

          echo "Target files" ;
          $RUN ls -la

          echo "Prep files for zip... (note dotfiles ignored)" ;
          echo "Nothing done. Drop remote tests in future." ;

          echo "Zipping + sending... (ignore rmrf fail)" ; 
          zip -r deploy.zip ./* ; 
          $RUN mkdir -p /home/$USER/web ;
          $RUN "rm -rf /home/$USER/web/* || true " ; 

          echo "Sending zipped...";
          $COPY deploy.zip $TARGET:/home/$USER/web

          $RUN "cd /home/$USER/web && unzip -o deploy.zip && rm deploy.zip"

          echo "Target state after deploy"
          $RUN ls -la /home/$USER/web
