name: cassiniDeployFlow

on:
    workflow_dispatch:

env: 
    HOST: cassini.cs.kent.edu
    USER: ants
    TARGET: ants@cassini.cs.kent.edu
    RUN: ssh -o LogLevel=ERROR ants@cassini.cs.kent.edu 
    COPY: scp -o LogLevel=ERROR
    LOGGING: set -o xtrace

jobs:
    cassini_deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout files...
              uses: actions/checkout@v2
            - name: Get ssh key...
              uses: shimataro/ssh-key-action@v2 
              with:
                key: ${{ secrets.ID_ED25519 }}
                name: id_ed25519
                known_hosts: ${{ secrets.KNOWN_HOSTS }}

            - name: See VM...
              run: |
                echo $ set -o xtrace ; # Log all commands without explicit echo
                $LOGGING
                
                ls -la
                whoami

            - name: See cassini...
              run:
                echo "Enabling xtrace on remote, displays commands run on cassini via ssh ~ set -o xtrace" ; 
                $LOGGING

                $RUN ls -la

            - name: Update cassini files for deploy...
              run: 
                $LOGGING

                $RUN "rm -rf ~/softwareEngineering_teamDelta/" ;

                $RUN git clone https://github.com/AlexTregub/softwareEngineering_teamDelta.git ;

                $RUN "cd ~/softwareEngineering_teamDelta/ ; git fetch ; git switch Dev ; git pull"

                # $RUN "cd softwareEngineering_teamDelta/"

            - name: Start screen with http server...
              run:
                $LOGGING

                # python -m http.server 8029

                $RUN killall screen

                $RUN screen -dm python -m http.server 8029
                
                


                
                